p,h3{
    font-family: arial;
    margin-top: 0;
    margin-bottom:5px;
}
p{
    color: rgb(125, 122, 122);
    font-size: 18px;
}
.text-popular{
    font-size: 16px;
}
.cat{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 40px;
}
.catbox{
    width: 50px;
    display: inline-block;
    margin-right: 15px;
}
.text{
    vertical-align: top;
    display: inline-block;
}
.total-box{
    margin-top: 20px;
    margin-left: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 10px;
    margin-top: 0px;
    align-items: center;
    
}
.button{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding-right:15px;
    padding-left:15px;
    padding-top:8px;
    padding-bottom:8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 19px;
    font-family: arial;
}